<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790866219653-4kvc31da03n5abns0ine5mf69v8pves5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790866219653-4kvc31da03n5abns0ine5mf69v8pves5</string>
	<key>API_KEY</key>
	<string>AIzaSyAWPd9yqwS2u6BIW6UtXyQoyC5YuRaA4G0</string>
	<key>GCM_SENDER_ID</key>
	<string>790866219653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eShare</string>
	<key>PROJECT_ID</key>
	<string>e-share-653a6</string>
	<key>STORAGE_BUCKET</key>
	<string>e-share-653a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790866219653:ios:806260f6625475c6de4fec</string>
</dict>
</plist>